.btn,
.wp-block-button__link,
.add_to_cart_button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce button.button.alt,
input[type="submit"] {
    font-family: "Gordita-Regular", sans-serif;
    appearance: none;
    -webkit-appearance: none;
    vertical-align: middle;
    border-radius: 0;
    border: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    background-color: $theme-neutral;
    color: $theme-white !important;
    padding: 1rem 1.25rem 0.85rem 1.26rem;
    transition: 0.25s ease-in-out;
    line-height: 1;
    &:hover {
        background-color: $theme-hover;
        color: $theme-black !important;
    }
    &.small {
        padding: 0.55rem 1.25rem 0.4rem 1.25rem;
    }
}
a.btn,
a.wp-block-button__link {
    font-family: "Gordita-Regular", sans-serif;
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.btn--invert {
    border: 1px solid $theme-neutral;
    background-color: transparent;
    color: $theme-neutral !important;
}
.btn {
    &__wrapper {
        margin-top: 2rem;
        width: 100%;
        &--left {
            @extend .btn__wrapper;
            text-align: left;
        }
    }
}
img {
    width: 100%;
}
.product-tag,
.page-numbers {
    font-size: 0.875em;
    padding: 7px 12px 4px 12px;
    display: inline-block;
    width: auto;
    border: 1px solid #43454b;
    border-radius: 0;
    color: #43454b;
    background: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 9;
    position: relative;
    margin: 0.5rem;
}
@media all and (min-width: 576px) {
    .pagination {
        margin-top: 8rem;
    }
}
.wp-block-columns {
    .wp-block-column {
        padding-top: 0;
        .wp-block-buttons.is-content-justification-center {
            width: 100%;
        }
    }
}
// Contact Forms
.form-row {
    margin-bottom: 0.5rem;
    &--md {
        margin-bottom: 1rem;
    }
    &--lg {
        margin-bottom: 2rem;
    }
}
label {
    font-family: "Gordita-Regular", sans-serif;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    &.block {
        display: block;
    }
    &.aggree {
        display: inline-block !important;
    }
}
input[type="email"],
input[type="text"],
input[type="tel"],
textarea,
.select2-container--default .select2-selection--single {
    font-family: "Gordita-Regular", sans-serif;
    font-size: 0.85rem;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    appearance: none;
}
.select2-container--default .select2-selection--single {
    height: 37px;
}
.additional_information_tab {
    display: none;
}
.wp-block-social-links {
    margin-bottom: 1rem;
}
.wp-social-link.wp-social-link.wp-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.has-normal-icon-size.wp-block-social-links {
    .wp-social-link.wp-social-link.wp-social-link {
        width: 32px;
        height: 32px;

        svg {
            width: 24px;
            height: 24px;
        }
    }
}
.has-large-icon-size.wp-block-social-links {
    .wp-social-link.wp-social-link.wp-social-link {
        width: 44px;
        height: 44px;

        svg {
            width: 32px;
            height: 32px;
        }
    }
}
.has-huge-icon-size.wp-block-social-links {
    .wp-social-link.wp-social-link.wp-social-link {
        width: 56px;
        height: 56px;

        svg {
            width: 42px;
            height: 42px;
        }
    }
}
.wp-block-image {
    img {
        height: auto;
    }
}
