@media all and (max-width: 576px) {
    .woocommerce-category-title {
        width: 100%;
        margin-bottom: 2rem;
    }
    .woocommerce-category-description {
        width: 100%;
    }
    .woocommerce ul.products[class*="columns-"] li.product,
    .woocommerce-page ul.products[class*="columns-"] li.product {
        width: 100%;
        margin: 0 0 50px 0;
        text-align: center;
    }
    .woocommerce ul.products[class*="columns-"] li.product:last-child,
    .woocommerce-page ul.products[class*="columns-"] li.product:last-child {
        margin-bottom: 0;
    }

    //////////////////////////////
    // Home page products loop //
    ////////////////////////////
    .wc-block-grid {
        margin: 0 auto;
        width: 100%;
        max-width: 1820px;
        padding: 0 1rem;
    }
    .wc-block-grid.has-2-columns .wc-block-grid__product {
        flex: unset;
        width: 100%;
        max-width: unset;
        margin-bottom: 50px;
        &:nth-child(odd) {
            margin-left: 0;
            margin-right: 0;
        }
        &:nth-child(even) {
            margin-left: 0;
            margin-right: 0;
            transform: translateY(0);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.products.columns-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.woocommerce div.product form.cart div.quantity {
    float: unset;
    margin-top: 2.5rem;
}
.add-to-cart__wrapper {
    margin-top: 3rem;
}
.woocommerce div.product form.cart .button {
    background-color: $theme-neutral;
    border-radius: 0;
    appearance: none;
    width: 100%;
    padding: 1.25rem;
    &:hover {
        background-color: $theme-hover;
    }
}
.product-badge {
    &__wrapper {
        margin: 4rem 0;
        width: 50%;
    }
    &__img {
        margin-bottom: 1rem;
        img {
            width: 15%;
            display: block;
            margin: 0 auto;
        }
    }
    &__txt {
        text-align: center;
    }
}
@media all and (min-width: 768px) {
    .product-badge__wrapper {
        width: 25%;
    }
}
//////////////////////////////
// Home page products loop //
////////////////////////////
.wc-block-grid__products {
    padding-bottom: 60px;
    margin: 0;
}
.page-template-index .wc-block-grid__products {
    padding-bottom: 0;
}
@media all and (min-width: 576px) {
    .wc-block-grid__products {
        padding-bottom: 125px;
        margin: 0;
    }
    //////////////////////
    // Archive Product //
    ////////////////////
    .woocommerce-category-title {
        width: 40%;
    }
    .wc-block-grid.has-2-columns .wc-block-grid__product {
        flex: unset;
        max-width: unset;
    }
    .archive-product .woocommerce ul.products li.product,
    .archive-product .woocommerce-page ul.products li.product,
    .wc-block-grid.has-2-columns .wc-block-grid__product {
        width: calc(50% - 4.5rem);
        margin-bottom: 150px;
        text-align: center;
    }
    .archive-product .woocommerce ul.products li.product:nth-child(odd),
    .archive-product .woocommerce-page ul.products li.product:nth-child(odd),
    .wc-block-grid.has-2-columns .wc-block-grid__product:nth-child(odd) {
        margin-left: 3rem;
        margin-right: 1.5rem;
    }
    .archive-product .woocommerce ul.products li.product:nth-child(even),
    .archive-product .woocommerce-page ul.products li.product:nth-child(even),
    .wc-block-grid.has-2-columns .wc-block-grid__product:nth-child(even) {
        margin-left: 1.5rem;
        margin-right: 3rem;
        transform: translateY(30%);
    }
    .archive-product ul.products li.product,
    .woocommerce ul.products[class*="columns-"] li.product,
    .woocommerce-page ul.products[class*="columns-"] li.product,
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        margin: 0 0 150px 0;
        text-align: center;
        width: calc(50% - 1.5rem);
    }
    .archive-product ul.products li.product:nth-child(odd) {
        margin-right: 1.5rem;
    }
    .archive-product ul.products li.product:nth-child(even) {
        margin-left: 1.5rem;
        transform: translateY(30%);
    }
    .related.products .woocommerce ul.products[class*="columns-"] li.product,
    .related.products
        .woocommerce-page
        ul.products[class*="columns-"]
        li.product,
    .related.products .woocommerce ul.products li.product,
    .related.products .woocommerce-page ul.products li.product {
        margin: 1rem;
        width: calc(33.3333% - 2rem);
    }
}

@media all and (min-width: 992px) {
    //////////////////////
    // Archive Product //
    ////////////////////
    .archive-product .woocommerce ul.products li.product,
    .archive-product .woocommerce-page ul.products li.product {
        width: calc(50% - 9rem);
        margin-bottom: 150px;
        text-align: center;
    }
    .archive-product .woocommerce ul.products li.product:nth-child(odd),
    .archive-product .woocommerce-page ul.products li.product:nth-child(odd) {
        margin-left: 6rem;
        margin-right: 3rem;
    }
    .archive-product .woocommerce ul.products li.product:nth-child(even),
    .archive-product .woocommerce-page ul.products li.product:nth-child(even) {
        margin-left: 3rem;
        margin-right: 6rem;
        transform: translateY(30%);
    }
    .archive-product ul.products li.product {
        width: calc(50% - 9rem);
        margin-bottom: 150px;
        text-align: center;
    }
    .archive-product ul.products li.product:nth-child(odd) {
        width: calc(50% - 9rem);
        margin-left: 6rem;
        margin-right: 3rem;
    }
    .archive-product ul.products li.product:nth-child(even) {
        width: calc(50% - 9rem);
        margin-left: 3rem;
        margin-right: 6rem;
        transform: translateY(30%);
    }
    .woocommerce div.product {
        width: 100%;
    }
    .wc-block-grid.wp-block-handpicked-products.wc-block-handpicked-products.has-2-columns.has-multiple-rows {
        margin-left: -6.5rem;
        margin-right: -6.5rem;
        max-width: 1820px;
        margin: 0 auto;
    }
    .wc-block-grid.has-2-columns .wc-block-grid__product {
        width: calc(50% - 12rem);
        max-width: unset;
        flex: unset;
        margin-bottom: 150px;

        &:nth-child(odd) {
            margin-left: 9rem;
            margin-right: 3rem;
        }
        &:nth-child(even) {
            margin-left: 3rem;
            margin-right: 9rem;
            transform: translateY(30%);
        }
    }
}
.wc-block-grid__product .wc-block-grid__product-add-to-cart {
    > a {
        margin-top: 0;
        padding-top: 10px !important;
    }
    a {
        display: block;
        margin-top: 1rem;
    }
}
.woocommerce a.added_to_cart {
    display: block;
    margin-top: 1rem;
    padding-top: 0;
    border-bottom: none;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    padding-top: 1em;
    padding-bottom: 0;
}
.woocommerce ul.products li.product .price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 1em;
    ins {
        text-decoration: none;
    }
    del {
        opacity: 1;
        bdi {
            margin-left: 1rem;
            opacity: 0.5;
            font-family: "Gordita-Light", sans-serif;
        }
    }
}

.wc-block-grid__product .wc-block-grid__product-price {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    ins {
        text-decoration: none;
    }
    del {
        opacity: 1;
        margin-left: 1rem;
        opacity: 0.5;
        .woocommerce-Price-amount.amount {
            font-family: "Gordita-Light", sans-serif;
        }
    }
}
.wc-block-grid__product-onsale,
.woocommerce ul.products li.product .onsale {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    text-transform: none;
    border: none;
    border-radius: 0;
    background-color: #dbe8f0;
    color: black;
    padding: 10px 10px 6px 10px;
    font-family: "Gordita-Regular", sans-serif;
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    margin: 0 !important;
    display: flex;
    align-items: center;
}
.wc-block-grid.has-2-columns
    .wc-block-grid__product:nth-child(2n)
    .wc-block-grid__product-onsale {
    left: unset;
}
.filter {
    &__dropdown {
        display: inline;
        position: relative;
        padding: 1rem 2rem 1rem 0;
        &:hover {
            .filter__dropdown__list {
                display: block;
            }
        }
        &__list {
            display: none;
            position: absolute;
            top: 100%;
            left: 0%;
            min-width: 100px;
            background-color: #fff;
            button {
                display: block;
                padding: 0.5rem 0;
                border: none;
                background-color: #fff;
                text-align: left;
                cursor: pointer;
            }
        }
    }
}
.page-template-index {
    .wc-block-grid.wp-block-product-category {
        padding-bottom: 4rem;
    }
}
.wc-block-components-pagination {
    display: none;
}
.wp-block-woocommerce-all-products.wc-block-all-products {
    max-width: 1820px;
    margin: 0 auto;
}
@media all and (min-width: 576px) {
    .home
        .wc-block-grid.wp-block-handpicked-products.wc-block-handpicked-products.has-2-columns.has-multiple-rows {
        margin-bottom: 6rem;
    }
}
.pagination--shop {
    width: 100%;
    margin-top: 50px;
    ul {
        display: flex;
        list-style-type: none;
        width: 100%;
        justify-content: space-between;
    }
}
@media all and (min-width: 576px) {
    .pagination--shop {
        margin-top: 150px;
    }
}
